body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
}
h1{
    color: #fff;
    border-radius: 20px;
    font-size: 40px;
    margin: 20px;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans', Verdana, sans-serif;
}
canvas{
    border-radius: 35px;
    border: 5px solid #6082B6;
}
.buttons button{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    width: 150px;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    border: none;
}
.buttons{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 30px;
   
}
.buttons button:hover{
    background-color: #6082B6;
    transition: all .2s;
}